{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives for {{ period | reverse | join(' ') }}{% endblock %}

{% block content %}
<h2>Archives for {{ period | reverse | join(' ') }}</h2>

<dl class="archive">
{% for article in dates %}
  <dt>{{ article.date|strftime('%d %B %Y') }}</dt>
  <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>
{% endblock %}
